ul {
  list-style: none;
  margin-top: 63px;
  padding: 8px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 660px) {
  ul {
    padding: 8px 10px 0px 10px;
  }
}
