ul {
  margin-top: 63px;
  padding: 8px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  display: flex;
  align-items: center;
  margin: 8px auto 8px auto;
  border: 2px solid rgb(163, 181, 204);
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  background-color: #000000;
  padding: 3px;
}

p {
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 8px;
  flex-shrink: 0;
  background-size: cover;
}
